* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    margin-left: 20px;
}

.slide-bar {
    width: 100%;
    height: 50px;
    background-color: rgb(232, 95, 95);
    position: absolute;
    display: flex;
    align-items: center;
}

.github-name {
    margin-left: 20px;
    font-size: 13px;
}

.menu {
    right: 20px;
    width: 250px;
    position: absolute;

}

.menu ul {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.menu ul li {
    display: inline-block;
    cursor: pointer;
    width: 90px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

input {
    position: relative;
    top: 60px;
    width: 80%;
    left: 10%;
    height: 30px;
}

a {
    color: #fff;
    text-decoration: none;
}

button {
    position: relative;
    top: 70px;
    width: 80%;
    left: 10%;
    background-color: black;
    color: #fff;
    height: 25px;
}

.user {
    position: relative;
    width: 80%;
    left: 10%;
    height: 470px;
    top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 200px;
    gap: 12px;
    overflow: auto;
}

.item {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    text-align: center;
    border: 1px solid black;
}

.img-user {
    width: 100%;
    position: absolute;
    display: flex;
    top: 30px;
}

.img-user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    left: 45%;
    transform: translateX(-50%);
}

.name-user {
    top: 20px;
    position: relative;
    font-size: 20px;
}

.btn-more {
    position: relative;
    top: 25px;
    width: 80px;
    height: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    position: relative;
    width: 70%;
    left: 15%;
    height: 600px;
    top: 60px;
    overflow: auto;
}

.main {
    position: absolute;
    width: 100%;
    height: 180px;
    top: 0;
    border: 0.5px solid black;
}

.main img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;

    top: 30px;
    left: 150px;
}

.main button {
    width: 200px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 40px;
    outline: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 13px;
    font-size: 16px;
    cursor: pointer;
}
.main h4{
    position: absolute;
    top: 100px;
    left: 50%;
}
.info{
    width: 100%;
    height: 50px;
    display: flex;
    border: 0.5px solid black;
    position: relative;
    top: 190px;
    justify-content: center;
    align-items: center;
}
.info span{
    width: max-content;
    height: 30px;
    padding: 0 10px;
    border: 0.5px solid black;
    margin-right: 10px;
    line-height: 30px;
    border-radius: 15px;
    color: #fff;
    font-size: 13px;
}
.show-project{
    width: 100%;
    height:320px ;
    top: 200px;
    position: relative;
    overflow: auto;
}
.project-name{
    width: 100%;
    height: 50px;
    border: 0.5px solid black;
    line-height: 50px;
    padding-left: 25px;
    font-weight: 700;
    font-size: 20px;
    color: red;
    margin-top: 10px;
}
@keyframes ldio-xe6d1agh43 {
    0% {
      top: 96px;
      left: 96px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 18px;
      left: 18px;
      width: 156px;
      height: 156px;
      opacity: 0;
    }
  }.ldio-xe6d1agh43 div {
    position: absolute;
    border-width: 4px;
    border-style: solid;
    opacity: 1;
    border-radius: 50%;
    animation: ldio-xe6d1agh43 1s cubic-bezier(0,0.2,0.8,1) infinite;
  }.ldio-xe6d1agh43 div:nth-child(1) {
    border-color: #e90c59;
    animation-delay: 0s;
  }
  .ldio-xe6d1agh43 div:nth-child(2) {
    border-color: #46dff0;
    animation-delay: -0.5s;
  }
  .loadingio-spinner-ripple-3r5dlhod6ic {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
  }
  .ldio-xe6d1agh43 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-xe6d1agh43 div { box-sizing: content-box; }
  /* generated by https://loading.io/ */